@charset "utf-8";
*{
    margin: 0px auto;
    padding: 0px;
    color: #333333;
    list-style: none;
}
a{
    text-decoration: none;
    display: block;
    color: inherit;
}
img{
    border: 0px;
}
body{
    width: 1200px;
    height: 700px;
}
#header{
    width: 1200px;
    height: 100px;
}
.logo{
    float: left;
    height: 100px;
}
.logo>img{
    padding-top: 20px; 
}
.nav{
    float: right;
    width: 600px;
    padding-top: 30px;
    position: relative;
}
.nav-main{
    float: left;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #30a3f3;
}
.nav-main>a:hover{
    color: #fff;
}
.nav-main>.nav-sub-container{
    display: none;
    z-index: 2;
}
.nav-main>.nav-sub-container>.nav-sub>a:hover{
    background-color: #0066ad;
    color: #fff;
}
.nav-sub{
    background-color: #e0ffff;
}
#slide{
    position: relative;
    width: 1200px;
    overflow: hidden;
    height: 300px;
    z-index: -1;
}
.slide-1{
    position: relative;
    height: 300px;
}
.slide-1>img{
    position: absolute;
    height: 300px;
    z-index: -1;
}
.slide-2{
    position: relative;
    width: 3600px;
    height: 300px;
}
.slide-2-img{
    float: left;
    widows: 1200px;
    height: 300px;
}
.slide-3{
    position: relative;
    width: 1200px;
    height: 900px;
    overflow-y: hidden;
    z-index: -1;
}
.slide-3-img{
    width: 1200px;
    height: 300px;
}
#content{
	width: 1200px;
	height: 200px;
}
.notice-and-gallery{
	width: 400px;
	height: 200px;
    float: left;
}
.tab-title{
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.tab-title>.tab-nav>li{
	float: left;
	width: 100px;
}
.tab-title>.tab-nav>.active{
	background-color: #30a3f3;
}
.tab-title>.tab-nav>.active>a{
	color: white;
}
.tab-title>.tab-nav>.inactive{
	background-color: white;
}
.tab-title>.tab-nav>.inactive:hover{
	background-color: #cee5f5;
}
.tab-title>.tab-nav>.inactive>a{
	color: #30a3f3;
}
.tab-content{
	height: 150px;
	position: relative;
}
.tab-content .inactive{
	display: none;
}
.tab-content>.note{
	height: 150px;
	position: absolute;
}
.tab-content>.note>.note-para{
	height: 25%;
	line-height: 40px;
	padding: 0 10px;
}
.tab-content>.note>.note-para>p:hover{
	cursor: pointer;
	text-decoration: underline;
}
.tab-content>.gal{
	padding: 15px 0;
	position: absolute;
}
.tab-content>.gal>img{
	height: 120px;
	margin: 0 5px;
}
.banner{
    width: 400px;
    height: 200px;
    float: left;
}
.link{
    width: 400px;
    height: 200px;
    float: left;
}
#modal{
    width: 1200px;
    height: 700px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
}
.modal-container{
    width: 600px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    top: 200px;
    position: relative;
}
.modal-dialog{
    padding: 30px 10px;
    width: 540px;
}
.modal-header{
    height: 50px;
}
.modal-body{
    height: 165px;
}
.modal-footer{
    height: 50px;
}
.modal-footer>button{
    width: 100px;
    border: 0;
/*    border-radius: 5px;*/
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    float: right;
}
.cancel:hover{
    cursor: pointer;
    text-decoration: underline;
}

#footer{
    width: 1200px;
    height: 100px;
}
.footer-content{
    height: 100px;
    text-align: center;
    float: right;
}
.footer-menu-container{
    width: 600px;
    height: 20px;
/*    padding: 0(위) 0(오른쪽) 0(아래) 0(왼쪽);*/
    padding: 20px 0 10px 0;
}
.footer-menu-container>li{
    float: left;
    width: 150px;
}
.copyright{
    width: 600px;
    height: 20px;
    padding: 10px 0 20px 0;
}